*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
#background{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
#logo{
    height: 100px;
    width: 100px;
}
.container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
   background-color: rgba(2, 35, 8, 0.812);
   border: 1px solid white;
   border-radius: 10px;
}
.login{
    padding-top: 30px;
    height: 350px;
    width: 300px;
}
.inputtext{
    width: 220px;
}
.input-text{
    width: 800px;
    margin: 5px;
    /* border: 1px solid purple; */
    font-size: 18px;
}
.lg-frm{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300;
    width: 100%;
}
#remember{
    color: gainsboro;
    font-size: 16px;
}

.btn, button{
    text-decoration: none;
    padding: 5px 85px;
    background-color: aliceblue;
    border-radius: 10px;
    color: rgb(4, 53, 13);
    font-size: 17px;
    font-weight: 900;
    border: 2px solid white;
}
/* ------ */
.register{
    height: 100%;
    width: 100%;
}
.register .top{
    padding: 30px;
    width: 100%;
    background-color: rgb(4, 53, 13);
}
.register h4{
    color: white;
    font-size: 30px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading{
    border-bottom: 1px solid black;
    font-size: 27px;
    padding: 10px 10px 0 10px;
    margin-bottom: 15px;
    display: flex;
    justify-self: center;
}
.note{
    padding: 10px;
    display: flex;
    justify-self: center;
    font-style: italic;
    color: gray;
}
.form{
    border: 1px solid black;
    margin: 0px 100px 50px 100px;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#regstr{
    margin: 25px;
    width: 800px;
    padding: 10px;
    background-color: rgb(4, 53, 13);
    color: aliceblue;
}